.contact-tile:hover {
    cursor: pointer;
    box-shadow: 0 .5em 1em -0.125em rgba(10,10,10,.3), 0 0 0 1px rgba(10,10,10,.15);
}

.is-ancestor {
    flex-wrap: wrap;
}

.tile.new-contact {
    background-color: #ebebeb;
    border-color: transparent;
    color: rgba(0,0,0,.7);
}

.tile.contact {
    background-color: #dae6f9;

}
