<form class="section" [formGroup]="editEntryForm"
(ngSubmit)="onSubmit(editEntryForm.value)">

    <h1 class="title">Edit Contact</h1>

    <div class="field">
        <label class="label" for="name">Name</label>
        <div class="control">
            <input class="input" id="name" type="text" formControlName="name">
        </div>
    </div>
    
    <div class="field">
        <label class="label" for="info">Info</label>
        <div class="control">
            <input class="input" id="info" type="text" formControlName="info">
        </div>
    </div>

    <div class="field">
        <label class="label" for="address">Address</label>
        <div class="control">
            <input class="input" id="address" type="text" formControlName="address">
        </div>
    </div>

    <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
            <input class="input" id="email" type="text" formControlName="email">
        </div>
    </div>

    <div class="field">
        <label class="label" for="phone">Phone</label>
        <div class="control">
            <input class="input" id="phone" type="text" formControlName="phone">
        </div>
    </div>

    <section class="field profile" id="warning" [style.display]="this.displayWarning ? 'block' : 'none'">
        <div class="notification is-danger profile">
            <p><span class="has-text-weight-bold">Woah there! </span>All fields are required.</p>
        </div>
    </section>
    
    <div class="field is-grouped">

        <div class="control">
            <button class="button is-light" (click)="goBack()">Back</button>
        </div>

        <div class="control">
            <button class="button is-dark" (click)="deleteEntry(this.entry.id)">Delete</button>
        </div>

        <div class="control">
            <button class="button is-primary" type="submit">Save</button>
        </div>

    </div>

</form>
